html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}


@font-face {
  font-family: Blessed Day;
  src: url(https://www.ffonts.net/Blessed-Day.font.download#);
}

/* prendi l'abitudine di creare i file tutti in minuscolo, anche se è improbabile potrebbero capitare problemi di case sensitive */
#bg1 {
    background-image: url("../img/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
} 

.navbar.navbar-expand-lg {
    margin-left: 10%;
    margin-right: 10%;
} 

.navbar-brand {
    color: #ffffff;
    font-family: 'Blessed Day', sans-serif;
    /* Attenzione all'em come unità di misura, va usato con molta cautela. E' più comodo e meno rischioso usare il rem */
    font-size: 4rem; 
    }
    /* evitare di posizionare elementi usando il padding
    se si utilizzano padding elevati molto spesso non è per fare una buona cosa  */

.navbar-brand:hover {
    color: #ffffff;
}

.nav-item .nav-link {
    color: #ffffff;
    padding-bottom: 3px;
    font-weight: 300;
}

/* Così si risparmia :) */
.nav-item:hover,
.nav-item.active,
.nav-item:active {
    color: #ffffff;
    border-bottom: 3px solid #33cc99;   
}

.nav-link.bolder {
    font-weight: 700;
}

h4 {
    font-weight: 400;
    font-size: 25px;
}

h6 {
    font-weight: 300;
    /* Attenzione il px in teoria è indivisibile :) */
    font-size: 15px;
    line-height: 25px;
    
}

.hdr {
    margin-left: 10%;
    margin-right: 13%;
}

.screen {
    width: 50%;
    float: left;
    padding-right: 40px;
}

.btn-colour1 {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.btn-colour2 {
    background-color: #3498db;
    border-color: #3498db;
    margin-left: 15px;
}

.btn {
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    width: 140px;
    padding: 16px;

}
.btn-colour1:hover,
.btn-colour1:active,
.btn-colour1.active {

  background: #19b495;
  color: #ffffff;
  border-color: #19b495;  
  outline: none;
  box-shadow: none; 
}

.btn-colour2:hover,
.btn-colour2:active,
.btn-colour2.active {

  background: #318cc9;
  color: #ffffff;
  border-color: #318cc9; 
  outline: none;
  box-shadow: none;  
}

.or {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: #4f6173;
    padding: 2px;
    text-align: center;
    margin-left: -10px;
    margin-top: 60px;
    position: absolute;  
}

#about {
    background-color: white;
    color: #4f6173;
    padding-top: 10%;
}

.abt { 
    margin-left: 12%;
    margin-right: 10%;

}
p {
    font-weight: 400;
    font-size: 15px;
    text-align: left;    
}


.stats1 {
   width: 43%;
   margin-left: 20%;
}

.stats2 {
    width: 30%;
    padding-left: 5%;
    padding-top: 17%;

}




